---
layout: post
title: "Extreme weather"
subtitle: "A deepdive into emission and natural disasters"
date: 2024-04-24
background: '/img/extremeweather.jpg'
---
<p>
You've have read about CO2 emissions in the EU and worldwide, including which countries have the highest and lowest emissions.
We've delved into the potential reasons behind these trends, including these country's laws and regulations. 
Now, this blog post will explore whether there is a correlation between the countries emissions and the frequency of natural disasters. Can it be anticipated that these high-emission countries will experience more natural disasters compared to those with lower emissions? 
This blog post will delve into this intriguing topic to uncover any potential relationships. <br> <br> 


</p>

<h2 class="section-heading">Natural disasters</h2>
In this research, two datasets have been used. One shows disaster occurrences in Europe, grouped as either natural or technical. An example of a technical disaster could be a miscellaneous accident, such as a building collapsing. We refine this dataset to focus exclusively on natural disasters types,
which could be a storm or an earthquake. The second dataset mirrors these attributes but encompasses global occurrences. Both datasets span over the years 2000-2024.
Initially, the global dataset contains 15,718 values before filtering for the natural disaster group. After this filtration, the dataset shrinks to 9,993 values, which is then used to highlight the world's top two emitters.
In contrast, the initial dataset for Europe contains considerably fewer values, totaling 1,824. After filtering for natural disasters, the numbers is 1,108 values.
<br> These datasets will help to determine whether there can be made a correlation between emissions and natural disasters.
<h1 class="section-heading" style="font-size: 16px;">Definition of natural disasters</h1>
<p> It is crucial to establish a clear understanding of what constitutes natural disasters. 
This section will focus on defining the specific types of natural disasters that will be discussed in the following sections.
The natural disasters included in this post are as follows. Click on the link associated with each natural disaster to read more about it: </p>
<ul>
    <li> <a href="https://education.nationalgeographic.org/resource/flood/" style="text-decoration: underline;">Flood</a> </li>
    <li> <a href="https://www.britannica.com/science/storm" style="text-decoration: underline;">Storm</a> </li>
    <li> <a href="https://education.nationalgeographic.org/resource/resource-library-earthquake/" style="text-decoration: underline;">Earthquake</a>  </li>
    <li> <a href="https://education.nationalgeographic.org/resource/epidemic/" style="text-decoration: underline;">Epidemic</a> </li>
    <li> <a href="https://www.undrr.org/understanding-disaster-risk/terminology/hips/mh0013" style="text-decoration: underline;">Glacial lake outburst flood</a>  </li>
    <li> <a href="https://www.un-spider.org/category/disaster-type/extreme-temperature" style="text-decoration: underline;">Extreme temperature</a> </li>
    <li> <a href="https://www.britannica.com/science/mass-movement" style="text-decoration: underline;">Mass movement (wet)</a> </li>
    <li> <a href="https://www.britannica.com/science/mass-movement" style="text-decoration: underline;">Mass movement (dry)</a> </li>
    <li>  <a href="https://www.nationalgeographic.com/environment/article/volcanoes" style="text-decoration: underline;">Volcanic activity</a></li>
    <li> <a href="https://education.nationalgeographic.org/resource/wildfires/" style="text-decoration: underline;">Wildfire</a>  </li>
    <li> <a href="https://education.nationalgeographic.org/resource/drought/" style="text-decoration: underline;">Drought</a> </li>
    <li> <a href="https://www.homedoctorpest.com/what-considered-infestation/" style="text-decoration: underline;">Infestion</a> </li>
  </ul>

  <p> 

Now that you've become knowledgeable about natural disasters, let's delve into their frequency and occurrence across various countries.</p>


<h2 class="section-heading">Overview of occurence of natural disasters in EU</h2>
We observe the cumulative count of natural disaster types each year across Europe. 
{% include natural_disasters_all_year_plot_EU.html%}
<span class="caption text-muted"> Total number of natural disaster each year from 2000-2024. <br> The x-axis represent the year, and the y-axis the number of occurences of natural disasters.
    Explore the plot by hovering over the line to view detailed information about the specific year and its occurrences.</span>

<div style="text-align: center;">
</div>
<p> The above plot ranges from year 2000-2024 whereas the first plot seen for Europe CO2 emission in the <a href='{% post_url 2024-03-01-drug-abuse-in-SF-decreased %}' style="text-decoration: underline;">previous post</a>
    ranges from year 1960-2022. For the purpose of this blog post the two datasets will be compared on the years that can be found in both datasets, being year 2000-2022. Observing the overall trend for the plot
    the general trajectory is decreasing even though there are intermittent years with slight increases. <br>
    In examining the plot above from 2000 to 2022, there appears to be no clear trend indicating a decrease in overall natural disasters. Across the intermittent years, there are notable fluctuations in the frequency of natural disasters, 
    making it challenging to identify a clear pattern, as for the  one observed for Europe's CO2 emissions. 
    However, looking for the whole plot, up until year 2024, there becomes a pattern of an overall decrease of natural disasters as there in 2024 has been experienced a record-low occurences of natural disasters. 
    </p>
<span>However, what does this reveal when we delve further into the distribution of natural disasters?</span> <br> <br>

This serves as an extension to the previous plot, providing a breakdown of individual disaster types and their occurrences over the years. 


<!-- <img src="/img/natural_disasters_all_year_plot_WW.png" alt="Natural Disasters summarized for each year Worldwide", style="width: 100%;"> -->
{% include plot_disaster_EU_all_years.html%}
<span class="caption text-muted"> All natural disaster in EU across all years. The x-axis represent the year, and the y-axis the number of occurences of natural disasters<br> Hovering over the different lines allows you to view the specific year for the disaster type and its frequency. Each category is assigned a color, you can click on the natural disaster icons on the right to remove them from the plot.
</span>

<p> 
This plot illustrates that storms, extreme temperatures, and floods were the most frequent natural disasters. However, there isn't a clear trend of decreasing occurrences across different types of disasters; instead, we observe fluctuations with peaks and declines. <br> 
<br>
Floods reached their peak in 2005 with 39 occurrences, but this peak hasn't been surpassed since. However, it is challenging to determine whether floods in general are decreasing or increasing, as seen in years like 2021, where there were 28 occurrences, compared to 15 the year before and 4 the year after.

<br> <br> Extreme temperatures peaked in 2023 and haven't reached that level since. Since then, extreme temperatures have shown fewer occurrences overall, but the significant increase in 2022 suggests a fluctuating pattern rather than a consistent decrease over time.

<br> <br> Storms peaked in 2023 with 31 occurrences, with most years not having fewer than 5 occurrences. Exceptions include 2012, with only one storm, and 2016, with two.

<br> <br> When considering this information alongside the EU emission data, the occurrences of natural disasters followed a decreasing trend similar to EU emissions, though not as significantly only when considering the whole plot.
</p>

<!-- {% include plot_disaster_worldwide_all_years.html%}--> 

<h2 class="section-heading">The highest and lowest CO2 emitters in Europe</h2>
<p>The next section will delve deeper into the relationship between natural disasters and CO2 emissions. 
    This time, we'll focus on the countries with the highest and lowest emissions in the EU to explore whether there's a correlation between their CO2 emissions and the frequency of natural disasters. 
    <!--They will be based on the latest year of the dataset, which is 2022, as depicted in the first blog <a href='{% post_url 2024-04-23-how-the-world-look-like-co2 %}'>post</a>, figrue 3. -->
    </p>   

<h1 class="section-heading" style="font-size: 24px;">Exploring Europe's Top Emitters</h1>
According to Figure 5 in the <a href='{% post_url 2024-04-23-how-the-world-look-like-co2 %}' style="text-decoration: underline;"> first post</a>, Germany is identified as the country with the highest CO2 emission in EU.


<h1 class="section-heading" style="font-size: 16px;">Germany</h1>

{% include Germany_EU.html %}
<span class="caption text-muted"> Natural disasters in Germany from 2000-2024, where we see a pattern of frequent natural disasters.
    <br> Click on a disaster type to remove it from the plot and investigate if there are overlapping disaster types.
</span>

Germany experienced a variety of 5 natural disasters, with only one instance of an earthquake and two of an epidemic occurring between 2002 and 2004. 
Storms are the most frequent natural disaster in Germany, reaching a high multiple times with three occurrences throughout the years. Extreme temperatures are also observed multiple times, 
reaching a high with two occurrences. Flooding is present across the years, peaking in 2005 with two occurences. <br>
Interestingly, when looking at figure 5 the <a href='{% post_url 2024-04-23-how-the-world-look-like-co2 %}' style="text-decoration: underline;"> first post </a>, it reveals that in 2020, Germany experienced its lowest CO2 emissions, while still being the country with the highest emission in Europe. <br>
Despite this, according to our data, in 2020 Germany only encountered one natural disaster which was a storm. Comparatively, in 2015, when no disasters were detected, Germany's CO2 emission was higher than in 2020.
Although there cannot be drawn a direct link between the years in the two plots by; when there is high emission one year, we see more frequent natural disasters in the same year. It is noteworthy that Germany experienced at least one natural disaster annually, while being the largest CO2 emitter in the EU. 

<h1 class="section-heading" style="font-size: 16px;">Italy</h1>
The second highest country with CO2 emission is Italy.
{% include Italy_EU.html%}
<span class="caption text-muted"> Natural disasters in Italy from 2000-2024, where we see a pattern of frequent experienced natural disasters. Italy has experienced 10 different types throughout the years <br> Click on a disaster type to remove it from the plot and investigate if there are overlapping disaster types </span>
Italy experienced a significantly higher number of natural disasters compared to Germany, both in terms of quantity and variety. 
Figure 5 in the <a href='{% post_url 2024-04-23-how-the-world-look-like-co2 %}' style="text-decoration: underline;"> first post</a>, illustrates a peak in emission in 2005 while one natural disaster was recorded in that year. 
Interestingly, while Italy's CO2 emissions have been steadily decreasing since their peak in 2005, there is a increase of natural disasters observed starting from around year 2014.<br>
Storms, in particular, have become more frequent since 2014, a trend not previously observed. Conversely, flooding occurrences have decreased since 2014 compared to earlier years, when Italy predominantly experienced flood disasters.
<br> <br>
In summary, we observe that while Italy's emissions were at their peak in 2005, there wasn't a corresponding increase in natural disasters. However, as emissions began to decrease, we noticed an increase in natural disasters. 
This could suggest that the effects and consequences of CO2 emissions may be felt and manifested years after the emissions occur.


<h6 class="section-heading" style="font-size: 24px;">Exploring Europe's Lowest Emitters</h6>
Europes top two emitters have now been introduced, but how does the natural disasters look in Europe for the two countries with the lowest emission. 
<h1 class="section-heading" style="font-size: 16px;">Malta</h1>
{% include Malta_EU.html%}
<span class="caption text-muted"> Natural disasters in Malta from 2000-2024. Malta has only experinced one natural disaster of extreme temperature</span>

Malta's emissions have fluctuated since the year 2000, showing both increases and decreases. 
A notable decrease occurred in 2015, with subsequent years remaining relatively around the same number or slightly lower. Regarding natural disasters in Malta, 
only one instance was detected in 2022, where in this year a slight increase in extreme temperatures was observed after two years of decreasing emission. The increase observed in 2022 did not represent a peak in overall emissions over the years; 
emissions at this level or higher have been previously seen.

<h1 class="section-heading" style="font-size: 16px;">Latvia</h1>
The country with second lowest CO2 emission is Latvia.
{% include Latvia_EU.html%}
<span class="caption text-muted"> Natural disasters in Latvia from 2000-2024. Latvia doesn't depict a clear pattern of frequent natural disasters</span>
Latvia experienced 5 different natural disasters, where only extreme temperature is seen occuring in more than one year.
In the years leading up to 2020, Latvia experienced a notable decrease in emissions, with fluctuations between increases and decreases observed overall. <br>
Analyzing natural disasters in Latvia reveals a peak in storms in 2005, coinciding with a slight increase in emissions compared to the previous year. <br>
Latvia did experience higher emission rates in 2006, 2007, 2010 and 2018 where the emission seemed to increase after a few years of decreasing. There is recorded natural disasters for 2006, where the CO2 emission
were higher than the previous few years. Futhermore, in 2018 Latvia witnessed its first wildfire after a period of having a relative stabil CO2 emission from 2011. No natural disaster was recorded in year 2007 nor 2010, but there was a extreme temperature in 2012.
In 2022, another slight increase in emissions occurred, coinciding with Latvia experiencing extreme temperatures in the same year.

For Latvia, it's noticeable for a couple of years that when experiencing higher CO2 emissions in one year, there seems to appear a link to the occurrence of natural disasters in the same year.
<!-- {% include Sweden_EU.html%}--> 

<h6 class="section-heading" style="font-size: 24px;">Is there a correlation between natural disasters and emissions?
</h6>
In summary, it's evident that countries with higher emissions experience a greater frequency of natural disasters compared to those with lower emissions. 
Moreover, pinpointing a specific year and establishing a direct correlation between emissions and the occurrence of natural disasters proves not be concluded. We do see for Latvia, that a vague pattern
of experiences more CO2 emission results in natural disasters within the same year. However, it is unknown when countries will face the consequences of emissions making it difficult to pinpoint when the effect on the natural disasters can bee seen. In cases like Italy, where emission decreased after 2005 but natural disasters continued to increase, 
other influencing factors may be at play. This could include the delayed consequences of emissions or the impact of neighboring countries' emissions. <br>
Overall, it can be concluded that countries with lower CO2 emissions tend to experience fewer natural disasters. 
Futhermore, due to various contributing factors, linking a specific year's emissions to the same year of natural disasters can be complex and inconclusive. <br> <br> 
What if there is a relationship between the amount of CO2 emission and the occurrence of natural disasters? Can it be anticipated that the more CO2 emission a country have, the 
higher number of natural disaster they will experience? While Germany and Italy are among Europe's largest CO2 emitters, they are not when looking world wide. 


<h6 class="section-heading" style="font-size: 24px;">Exploring The World's Highest Emitters</h6>
The world's biggest emitters are China and the United States of America. 

<h1 class="section-heading" style="font-size: 16px;">China</h1>
The highest country with CO2 emission world wide is China.

{% include China_WW.html%}
<span class="caption text-muted"> Natural disasters in China from 2000-2024. <br> China experienced the highest peak seen for natural disasters in this post, with 5 floods in year 2005</span>
China experienced 6 different natural disaster type where infestion only occured once. <br> Reviewing figure 2 in the <a href='{% post_url 2024-04-23-how-the-world-look-like-co2 %}' style="text-decoration: underline;"> first post</a> it unveils that prior to 2005, China wasn't the primary emitter. 
However, in 2005, both the USA and China overlapped, with China surpassing the USA becoming the country with the highest emission globally. <br> 
Furthermore, it becomes evident that China's CO2 emissions reached a peak in 2020. Since 2000, there has been a consistent and rather sharp rise in their CO2 emissions, with a slight dip in 2016. The CO2 emissions continue to rise at a steeper rate, ultimately surpassing previous levels until 2020.
<br> The data shows that China encountered its first drought in 2009, being the highest meassured emission up until its year. 
Notably, 2005 showcases a peak in storm occurrences with 2005 also being the highest emission up until that year. In 2020 the occurrence of three floods stands out as a recurring high with the emission peaking. 
While a strong pattern may not be evident, it is noticeable that peaks in natural disasters align with peaks in emissions.

<br><br> When compared to Germany, the disparity between the two isn't particularly evident. China experienced a peak of 5 storms in 2005, whereas Germany has never encountered more than 3 instances of a single type of natural disaster within the same year. 
Surprisingly, it may appear that Germany actually experienced more natural disasters than China despite China having a higher CO2 emission.
<h1 class="section-heading" style="font-size: 16px;">USA</h1>
The second highest country with CO2 emission world wide is USA .

{% include USA_WW.html%}
<span class="caption text-muted"> Natural disasters in USA from 2000-2024. <br> USA experienced a frequent occurence of storms reaching a peak in 2018. </span>
Until 2005, the USA were the world's biggest CO2 emitter. Prior to that, examining natural disasters from 2000-2005 reveals a peak in floods in 2002. Despite 2002 not marking a record high in emissions as the peak of CO2 emissions occurred in 2005. 
After 2005 there seems to be an increase of occurences with storms also reaching their peak in 2018. However, in year 2015 and 2019 no natural disasters were recorded making it difficult to state whether natural disasters overall have increased or decreased. Noticeable,
in 2020 despite a significant decrease in CO2 emissions, occurrences of natural disasters persisted, including wildfires and floods. 
<br><br> When comparing Italy and the USA, it becomes evident that Italy encounters more frequent natural disasters across various years and magnitudes. In contrast, 
the USA also experiences natural disasters almost anually, but there are years with no recorded incidents. Both Italy and the USA have reached a peak of 4 
occurrences of a single type of natural disaster in a year. This trend mirrors that observed between Germany and China, suggesting that Italy may actually experience natural disasters more frequently than the USA. 


<h6 class="section-heading" style="font-size: 24px;">Is there an increase of natural disasters among the highest emitters in EU compared to the global scale</h6>
There is no clear indication that the world's top emitters, who emit more CO2 than the top in Europe, tend to experience more natural disasters. In fact, it could be argued almost the opposite, as the top emitters in Europe appear to be encountering increasingly frequent natural disasters.
This may be incluenced by to other factors in regards to CO2 emissions such as the CO2 emission of neighboring countries or if the CO2 emission can be transported by wind. These factors have not been 
researched in this blog post, but could be a future adding to our blog. <br> 
<!--In summary we see that natural disaster when comparing to the initial year is becoming less frequent, we do see 
that there is a relationship between the amount of emission and the number of natural disaster. The countries with a higher CO2 emission do experience more natural disaster compared to the lowest emission countries. Interestingly, 
the amount of CO2 emission did not seem to have a direct link on the number of occurences. Comparing top 2 in the world with the top 2 for EU, where the CO2 emission difference is significant, the occurrences of natural disasters were not.--> 








