---
layout: post
title: "Carbon's Footprint: "
subtitle: "Tracking the Global Rise of CO2 Since 1960"
date: 2024-04-22
background: '/img/CO2-emission_header.jpg'
---


<h6>Breathing Heavily: The Current State of Global CO2 Emissions</h6>
<p>CO2 emissions and extreme weather, two words that everyone is talking about, from the newspaper, politicians, influencer, at work it seems like everyone have made the connection between those two words.
    Whenever news about an extreme weather phenomenon is shown in the media, the talk slowly drift towards the increasing emissions of CO2. The news channel will then interview a science about the weather and how CO2 emission is connected to the weather phenomenon. The interview ends with the same conclusion every time, that politicians and world leaders need to make a change before it’s too late, and future generations must pay the price.
    </p>

<p>While this seems extreme, this has been the norm for the last decade, where extreme weather is due to the increase in CO2 emissions, and nothing have been done to stop this.  But how can we be sure that the CO2 emissions is to blame for this, and nothing have been done. </p>

<p>In this blog and the next to follow, it will be analyzed weather or not there’s a correlation between the weather and CO2, or if it’s just a coincidence.</p>


<h6>From Industrial Boom to Environmental Concern: The Rise of Global CO2 Since 1960</h6>

<p>From the year 1960 to present, it can be seen there’s a steady increase in the emission of CO2 emissions. With no sign of it slowing down, in fact it looks like it keeps increasing – despite all the news about the damage to the environment and changes it will bring to our life and future generations – so what happen during this time.</p>

{% include CO2_Emission_world_1960_2022.html %}
<span class="caption text-muted"> The cumulative CO2 emissions in the world from 1960-2022</span>

<p> The time following the post World War II economic boom also know as the <a href = https://www.statista.com/statistics/730758/western-europe-economic-manufacturing-output-growth-golden-age/>golden age</a>, this was a time with economic growth due to various factores like stored-up demand, low-cost labor, and significant technological advancement. The various states also began to invest in big infrastructural projects which resulted in a positive <a href=https://www.statista.com/statistics/730758/western-europe-economic-manufacturing-output-growth-golden-age/>investment spiral</a>. This growth resulted in a demand for energy in form of electricity, heating, transportation, and food production, this was provided by using coal, oil, and natural gas, which led to a higher fuel consumption and thereby higher <a href=https://history-of-europe.com/the-economic-boom-in-post-world-war-ii-europe-a-qa/>CO2 emissions</a>.  </p>

<p>The golden age would last until 1973 where the oil crisis started, where an oil embargo was imposed by the Arab oil producers against the USA and other countries who had supported Israel during the 1973 <a href= https://www.bbc.com/mediacentre/proginfo/2023/40/october-1973-the-war-that-changed-everything> Yom Kippur War<a/>. This was also the first time, that oil was being used as a <a href= https://onlinelibrary.wiley.com/doi/full/10.1111/1758-5899.13235>political weapon<a/> to press for demand from western countries.  </p>

<p>The embargo would be lifted in 1974, but it’s seen as one of <a href= https://www.investopedia.com/1973-energy-crisis-definition-5222090>the first sign</a> of inflationary pressures and stagflation experienced in the 1970s. Even though countries began to introduce emergency measures like speed restriction, bans on Sunday driving and limited petrol station opening times during the 1973, this decade would still see an increase <a href = https://link.springer.com/chapter/10.1007/978-1-349-17797-4_2>< in CO2 emission <a/>. The world faced one more  oil crisis in 1979, known as <a href= https://link.springer.com/chapter/10.1007/978-1-349-07765-6_3 > the second crisis<a/>, again oil production was used as a political weapon, this time by Ayatollah Khomeni leader of the newly created revolutionary regime in Iran, decided to cut the export by 50 percent to force most governments of the oil-consuming countries to take the energy problem seriously.  </p>

<p>These two oil crisis changed many countries approach to energy as a whole, leading to <a href = https://link.springer.com/chapter/10.1007/978-1-349-17797-4_2> significant changes <a/> within these countries. Ministry of Energy and agencies was created to be responsible for energy supply. Energy policies was being formulated, both to reduce oil dependency, but also to create awareness in the population of the energy problems. Energy data was being collected in a systematic way for the first time, leading to long range analyses based on supply factors. Furthermore, countries began to look into other alternatives energy sources, thereby starting a new green wave to produce energy. </p>

<p>Most notably in recent years, when it comes to a reduction in CO2 emissions is the financial crisis from 2007-2009 known as the <a href= https://www.britannica.com/money/financial-crisis-of-2007-2008 >Great Recession<a/>, and <a href= https://data.who.int/dashboards/covid19/cases?n=c >COVID-19<a/>. </p>

<p>For the Great Recession, the decline seen here is due to the reduced industrial production and a slowdown in economic growth. For COVID-19, the same is true here, but more to the lock down imposed in countries throughout the world, which led to reduced activities in form of travels and reduced industrial production. This reduction was due to decreased economic activities, and not proactive political agenda to reduce CO2 emissions.</p>


<h6>A Tale of Five Giants and Europe: Diverging Paths in CO2 Emissions</h6>

{% include Top_5_and_EU_CO2_Emission_world_1960_2022.html %}

{% include CO2_Emission_world_1960_2022.html %}

<h6>Europe's Green Blueprint: How EU Policies Are Shaping Its CO2 Landscape</h6>


<h6>Zooming In: The Leaders and Laggards of Europe's CO2 Emissions</h6>

<img src="/img/CO2_Emission_EU.png" alt="CO2 emissions in EU for each country", style="width: 100%;">

<h6>Setting the Stage: A Prelude to Europe's Highs and Lows in CO2 Emissions</h6>
