---
layout: post
title: "Extreme weather"
date: 2020-01-30 23:45:13 -0400
background: ''
---
<img src="/img/natural_disasters_all_year_plot_EU.png" alt="Natural Disasters summarized for each year in EU ", style="width: 100%;">

<img src="/img/natural_disasters_all_year_plot_WW.png" alt="Natural Disasters summarized for each year Worldwide", style="width: 100%;">

{% include plot_disaster_EU_all_years.html%}

{% include plot_disaster_worldwide_all_years.html%}

{% include Germany_EU.html%}


{% include Italy_EU.html%}

{% include Malta_EU.html%}

{% include Latvia_EU.html%}

{% include Sweden_EU.html%}

{% include Somalia_WW.html%}

{% include Congo_WW.html%}

{% include China_WW.html%}









