---
layout: post
title: "Developement of CO2 emission in the world"
subtitle: "How do it look"
date: 2024-04-22
background: '/img/CO2-emission_header.jpg'
---

{% include Bar_chart_Max_and_Min_CO2_Emission_and_Year_of_Max_and_Min_CO2_Emission_for_EU_countries.html %}

{% include CO2_Emission_for_World_countries.html %}

{% include CO2_Emission_EU.html %}

{% include CO2_Emission_for_World_countries.html %}

{% include CO2_Emission_World.html %}

{% include List_Max_and_Min_CO2_Emission_and_Year_of_Max_and_Min_CO2_Emission_for_EU_countries.html %}

{% include Max_CO2_Emission_and_Year_of_Max_CO2_Emission_for_countries.html %}

{% include Max_CO2_Emission_and_Year_of_Max_CO2_Emission_for_EU_countries.html %}

<img src="{{ '/img/CO2_Emission_EU.png' | relative_url }}" alt="Crime Heatmap" style="width: 100%;">

<img src="{{ '/img/EU_CO2_Emission_Statistics.png' | relative_url }}" alt="Crime Heatmap" style="width: 100%;">
